// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// $body-bg: #000;
// $body-color: #111;
$primary: #226dff ;
// $secondary: #F7F7F7;
$light: #FFFFFF;
$warning: #9f2150;

// import bootstrap functions and variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// custome theme color maps
$custom-theme-colors: (
    "altlight": #F7F7F7,
    "altdark": #181a27,
    "slate": #181b2b,
    "deepblue": #226dff,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import rest of bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


// $font-family-sans-serif: -apple-system, 'Play', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

html, body {
    font-family: 'Play', sans-serif;
}

// .index-container {
//   max-width: 100%;
//   padding: 0 3rem; 
// //    margin: 0rem auto 6rem; 
// }

// .index-header {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.experience-date {
    color: "#FFF";
}

.navLink {
    display: block;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }

  .navLink2 {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    color: #226dff
  }


  .navbar {
    // position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.3rem 2rem !important;
    font-size: 1.4rem !important;
    font-weight: bold;
    // background-color: #181a27 !important;
  }

  @media (max-width: 767px) {
    .navbar {
      padding: 1rem 2rem !important;
      font-size: 1.4rem !important;
    //   background-color: #181a27 !important;
    }
    .navbar-nav .nav-item a::after {
      display: none !important;
    }
  }
  
  .navbarToggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
//  for the hamburger menu icon when viewport size is lower than lg
  .navbarToggler span {
    display: block !important;
    background-color: #226dff !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
  }

  // copyleft symbol
  .copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

// :root {
//   --max-width: 1100px;
//   --border-radius: 12px;
//   --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
//     'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
//     'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;

//   --primary-glow: conic-gradient(
//     from 180deg at 50% 50%,
//     #16abff33 0deg,
//     #0885ff33 55deg,
//     #54d6ff33 120deg,
//     #0071ff33 160deg,
//     transparent 360deg
//   );
//   --secondary-glow: radial-gradient(
//     rgba(255, 255, 255, 1),
//     rgba(255, 255, 255, 0)
//   );

//   --tile-start-rgb: 239, 245, 249;
//   --tile-end-rgb: 228, 232, 233;
//   --tile-border: conic-gradient(
//     #00000080,
//     #00000040,
//     #00000030,
//     #00000020,
//     #00000010,
//     #00000010,
//     #00000080
//   );

//   --callout-rgb: 238, 240, 241;
//   --callout-border-rgb: 172, 175, 176;
//   --card-rgb: 180, 185, 188;
//   --card-border-rgb: 131, 134, 135;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;

//     --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
//     --secondary-glow: linear-gradient(
//       to bottom right,
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0.3)
//     );

//     --tile-start-rgb: 2, 13, 46;
//     --tile-end-rgb: 2, 5, 19;
//     --tile-border: conic-gradient(
//       #ffffff80,
//       #ffffff40,
//       #ffffff30,
//       #ffffff20,
//       #ffffff10,
//       #ffffff10,
//       #ffffff80
//     );

//     --callout-rgb: 20, 20, 20;
//     --callout-border-rgb: 108, 108, 108;
//     --card-rgb: 100, 100, 100;
//     --card-border-rgb: 200, 200, 200;
//   }
// }

// html,
// body {
//   max-width: 100vw;
//   overflow-x: hidden;
//   padding: 0;
//   margin: 0;
//   /* font-family: 'Play', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
//     Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
//   line-height: 1.6;
//   font-size: 18px;
// }

// body {
//   /* font-family:'Play', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
//   /* font-family: var(--font-mono); */
//   color: rgb(var(--foreground-rgb));
//   /* background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb)); */
// }

// * {
//   box-sizing: border-box;
// }

// a {
//   color: #0070f3;
//   text-decoration: none;
// }

// a:hover {
//   color: #7ddd00;
//   text-decoration: underline;
// }

// img {
//   max-width: 100%;
//   display: block;
// }


// /* dark mode preference */
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
